[submodule "hr-payroll"]
	path = hr-payroll
	url = https://github.com/EddieSCJ/hr-payroll.git
[submodule "hr-eureka-server"]
	path = hr-eureka-server
	url = https://github.com/EddieSCJ/hr-eureka-server.git
[submodule "hr-worker"]
	path = hr-worker
	url = https://github.com/EddieSCJ/hr-worker.git
[submodule "hr-api-gateway-zuul"]
	path = hr-api-gateway-zuul
	url = https://github.com/EddieSCJ/hr-api-gateway-zuul.git
[submodule "hr-config-server"]
	path = hr-config-server
	url = https://github.com/EddieSCJ/hr-config-server.git
[submodule "hr-api-gateway"]
	path = hr-api-gateway
	url = https://github.com/EddieSCJ/hr-api-gateway
[submodule "hr-user"]
	path = hr-user
	url = https://github.com/EddieSCJ/hr-user.git
[submodule "hr-oauth"]
	path = hr-oauth
	url = https://github.com/EddieSCJ/hr-oauth.git
